.elementor-61268 .elementor-element.elementor-element-bebda11 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 80px;
    --padding-right: 0px;
    --padding-bottom: 060px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-bebda11:not(.elementor-motion-effects-element-type-background), .elementor-61268 .elementor-element.elementor-element-bebda11 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #1d2b64;
}

.elementor-61268 .elementor-element.elementor-element-bebda11, .elementor-61268 .elementor-element.elementor-element-bebda11::before {
    --border-transition: 0.3s;
}

.elementor-61268 .elementor-element.elementor-element-e9190c5 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 80px;
    --padding-right: 100px;
    --padding-bottom: 100px;
    --padding-left: 100px;
}

.elementor-61268 .elementor-element.elementor-element-e9190c5:not(.elementor-motion-effects-element-type-background), .elementor-61268 .elementor-element.elementor-element-e9190c5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #1d2b64;
}

.elementor-61268 .elementor-element.elementor-element-e9190c5, .elementor-61268 .elementor-element.elementor-element-e9190c5::before {
    --border-transition: 0.3s;
}

.elementor-61268 .elementor-element.elementor-element-d03cfb0 .elementor-heading-title {
    color: white;
    font-size: 32px;
    font-weight: 600;
}

.elementor-61268 .elementor-element.elementor-element-d03cfb0 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-61268 .elementor-element.elementor-element-adb8432 img {
    width: 70%;
}

.elementor-61268 .elementor-element.elementor-element-73e3a81 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 050px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-c70b763 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-ed1c6cb .elementor-heading-title {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.elementor-61268 .elementor-element.elementor-element-ed1c6cb > .elementor-widget-container {
    padding: 030px 0px 0px 0px;
}

.elementor-61268 .elementor-element.elementor-element-7fc774a {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-ce77f6b .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-61268 .elementor-element.elementor-element-e33646a {
    --divider-border-style: solid;
    --divider-color: #B4BABF;
    --divider-border-width: 1px;
}

.elementor-61268 .elementor-element.elementor-element-e33646a .elementor-divider-separator {
    width: 100%;
}

.elementor-61268 .elementor-element.elementor-element-e33646a .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-61268 .elementor-element.elementor-element-e33646a > .elementor-widget-container {
    margin: 0px 0px -11px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-61268 .elementor-element.elementor-element-4bc634c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-b3e26e3 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-ff6f000 {
    text-align: left;
    font-size: 15px;
    font-weight: 300;
}

.elementor-61268 .elementor-element.elementor-element-2aec16c {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 050px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-b4f544c {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-9501181 .elementor-heading-title {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.elementor-61268 .elementor-element.elementor-element-2b05101 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 010px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-ce32eee .elementor-heading-title {
    font-size: 20px;
    font-weight: 600;
}

.elementor-61268 .elementor-element.elementor-element-ce32eee > .elementor-widget-container {
    margin: 0px 0px 0px -9px;
}

.elementor-61268 .elementor-element.elementor-element-67fee30 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-0891554 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}

body.rtl .elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px / 2);
}

body:not(.rtl) .elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px / 2);
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-icon i {
    color: #409eff;
    transition: color 0.3s;
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
    transition: fill 0.3s;
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-item > .elementor-icon-list-text, .elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-item > a {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e .elementor-icon-list-text {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-61268 .elementor-element.elementor-element-1bcff4e > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 010px 0px 0px 0px;
}

.elementor-61268 .elementor-element.elementor-element-1de6c1c {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 010px;
    --padding-top: 020px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-fd6492c .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-size: 20px;
    font-weight: 600;
}

.elementor-61268 .elementor-element.elementor-element-a209528 {
    font-size: 15px;
    font-weight: 300;
}

.elementor-61268 .elementor-element.elementor-element-663a0c7 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 010px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-69f6359 {
    text-align: right;
}

.elementor-61268 .elementor-element.elementor-element-69f6359 img {
    width: 60%;
}

.elementor-61268 .elementor-element.elementor-element-69f6359 > .elementor-widget-container {
    padding: 020px 0px 0px 0px;
}

.elementor-61268 .elementor-element.elementor-element-fd579c0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 050px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-e0c3a2e {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-c9e59d5 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 010px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-5d5afd7 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 010px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-cd3c137 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-a583626 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 010px;
    --padding-top: 020px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
}

.elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
}

.elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
}

.elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}

body.rtl .elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px / 2);
}

body:not(.rtl) .elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px / 2);
}

.elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-icon i {
    color: #278575;
    transition: color 0.3s;
}

.elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-icon svg {
    fill: #278575;
    transition: fill 0.3s;
}

.elementor-61268 .elementor-element.elementor-element-495e484 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-item > a {
    font-size: 15px;
    font-weight: 300;
}

.elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-text {
    color: var(--e-global-color-text);
    transition: color 0.3s;
}

.elementor-61268 .elementor-element.elementor-element-495e484 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 010px 0px 0px 0px;
}

.elementor-61268 .elementor-element.elementor-element-d78c231 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 010px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61268 .elementor-element.elementor-element-8bad50e {
    text-align: right;
}

.elementor-61268 .elementor-element.elementor-element-8bad50e img {
    width: 60%;
}

.elementor-61268 .elementor-element.elementor-element-8bad50e > .elementor-widget-container {
    padding: 020px 0px 0px 0px;
}

.elementor-61268 .elementor-element.elementor-element-e7ade57 .elementor-heading-title {
    font-size: 75px;
    font-weight: 600;
}

.elementor-61268 .elementor-element.elementor-element-2d18c88 {
    font-size: 20px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .elementor-61268 .elementor-element.elementor-element-c70b763 {
        --width: 76.249%;
    }

    .elementor-61268 .elementor-element.elementor-element-7fc774a {
        --width: 23.708%;
    }

    .elementor-61268 .elementor-element.elementor-element-0891554 {
        --width: 50%;
    }

    .elementor-61268 .elementor-element.elementor-element-1de6c1c {
        --width: 31.214%;
    }

    .elementor-61268 .elementor-element.elementor-element-663a0c7 {
        --width: 18.119%;
    }

    .elementor-61268 .elementor-element.elementor-element-cd3c137 {
        --width: 50%;
    }

    .elementor-61268 .elementor-element.elementor-element-a583626 {
        --width: 31.214%;
    }

    .elementor-61268 .elementor-element.elementor-element-d78c231 {
        --width: 18.119%;
    }
}

@media (max-width: 767px) {
    .elementor-61268 .elementor-element.elementor-element-e9190c5 {
        --padding-top: 020px;
        --padding-right: 020px;
        --padding-bottom: 020px;
        --padding-left: 020px;
    }

    .elementor-61268 .elementor-element.elementor-element-d03cfb0 .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-61268 .elementor-element.elementor-element-ed1c6cb {
        text-align: center;
    }

    .elementor-61268 .elementor-element.elementor-element-ed1c6cb .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-61268 .elementor-element.elementor-element-ce77f6b .elementor-button {
        font-size: 14px;
    }

    .elementor-61268 .elementor-element.elementor-element-b3e26e3 {
        --width: 100%;
        --margin-top: 0px;
        --margin-right: 05px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-ff6f000 {
        font-size: 14px;
    }

    .elementor-61268 .elementor-element.elementor-element-2b05101 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-ce32eee > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-0891554 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-69f6359 {
        text-align: left;
    }

    .elementor-61268 .elementor-element.elementor-element-69f6359 img {
        width: 40%;
    }

    .elementor-61268 .elementor-element.elementor-element-8022f13 .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-61268 .elementor-element.elementor-element-c9e59d5 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-2bcc2ac > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-cd3c137 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-a583626 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 0px;
        --padding-right: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-495e484 {
        --e-icon-list-icon-size: 13px;
    }

    .elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-61268 .elementor-element.elementor-element-495e484 .elementor-icon-list-item > a {
        font-size: 13px;
    }

    .elementor-61268 .elementor-element.elementor-element-d78c231 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-8bad50e {
        text-align: left;
    }

    .elementor-61268 .elementor-element.elementor-element-8bad50e img {
        width: 40%;
    }

    .elementor-61268 .elementor-element.elementor-element-e7ade57 .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-61268 .elementor-element.elementor-element-e7ade57 > .elementor-widget-container {
        margin: 30px 0px 0px 0px;
    }

    .elementor-61268 .elementor-element.elementor-element-2d18c88 {
        font-size: 13px;
    }
}