.elementor-61264 .elementor-element.elementor-element-f5f5cc8 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0100px;
    --padding-right: 0px;
    --padding-bottom: 0100px;
    --padding-left: 0px;
}

.elementor-61264 .elementor-element.elementor-element-a827275 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-61264 .elementor-element.elementor-element-f3d6e35 {
    text-align: center;
}

.elementor-61264 .elementor-element.elementor-element-f3d6e35 .elementor-heading-title {
    font-size: 38px;
    font-weight: 600;
}

.elementor-61264 .elementor-element.elementor-element-bcc63fc {
    text-align: center;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-field-group {
    padding-right: calc(13px / 2);
    padding-left: calc(13px / 2);
    margin-bottom: 14px;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-form-fields-wrapper {
    margin-left: calc(-13px / 2);
    margin-right: calc(-13px / 2);
    margin-bottom: -14px;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-field-group.recaptcha_v3-bottomleft, .elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-labels-inline .elementor-field-group > label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-labels-inline .elementor-field-group > label {
    padding-right: 0px;
}

body .elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-field-group:not(.elementor-field-type-upload, .elementor-field-type-custom_button) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FAFAFA;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-field-group .elementor-select-wrapper select {
    background-color: #FAFAFA;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-button[type="reset"] {
    color: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c .elementor-button[type="reset"]:hover {
    color: #ffffff;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-61264 .elementor-element.elementor-element-aeb101c > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-61264 .elementor-element.elementor-element-5e59bc9 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 030px;
    --padding-right: 0px;
    --padding-bottom: 020px;
    --padding-left: 0px;
}

.elementor-61264 .elementor-element.elementor-element-5e59bc9:not(.elementor-motion-effects-element-type-background), .elementor-61264 .elementor-element.elementor-element-5e59bc9 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-61264 .elementor-element.elementor-element-5e59bc9, .elementor-61264 .elementor-element.elementor-element-5e59bc9::before {
    --border-transition: 0.3s;
}

.elementor-61264 .elementor-element.elementor-element-01cd4de {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-61264 .elementor-element.elementor-element-7707185 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 050px;
    --padding-left: 0px;
}

.elementor-61264 .elementor-element.elementor-element-f894b11 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: -80px;
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61264 .elementor-element.elementor-element-11714f3 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 0px;
    --grid-row-gap: 0px;
}

.elementor-61264 .elementor-element.elementor-element-11714f3 .elementor-widget-container {
    text-align: left;
}

.elementor-61264 .elementor-element.elementor-element-11714f3 .elementor-social-icon {
    background-color: #00220000;
    --icon-padding: 0.5em;
}

.elementor-61264 .elementor-element.elementor-element-11714f3 .elementor-social-icon i {
    color: var(--e-global-color-secondary);
}

.elementor-61264 .elementor-element.elementor-element-11714f3 .elementor-social-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-61264 .elementor-element.elementor-element-11714f3 > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-61264 .elementor-element.elementor-element-ef9aeca {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-61264 .elementor-element.elementor-element-1980c57 {
    text-align: center;
}

.elementor-61264 .elementor-element.elementor-element-1980c57 img {
    width: 50%;
}

.elementor-61264 .elementor-element.elementor-element-cc4fec7 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-61264 .elementor-element.elementor-element-2062c5e {
    text-align: right;
    color: var(--e-global-color-secondary);
    font-family: "Playfair Display", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.elementor-61264 .elementor-element.elementor-element-17755ff {
    text-align: center;
    color: var(--e-global-color-secondary);
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-61264 .elementor-element.elementor-element-17755ff > .elementor-widget-container {
    margin: -44px 77px 0px 0px;
}

@media (min-width: 768px) {
    .elementor-61264 .elementor-element.elementor-element-f5f5cc8 {
        --content-width: 637px;
    }
}

@media (max-width: 1024px) {
    .elementor-61264 .elementor-element.elementor-element-f5f5cc8 {
        --padding-top: 0100px;
        --padding-right: 0100px;
        --padding-bottom: 100px;
        --padding-left: 0100px;
    }

    .elementor-61264 .elementor-element.elementor-element-f3d6e35 .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-61264 .elementor-element.elementor-element-5e59bc9 {
        --padding-top: 0px;
        --padding-right: 020px;
        --padding-bottom: 020px;
        --padding-left: 020px;
    }

    .elementor-61264 .elementor-element.elementor-element-f894b11 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }
}

@media (max-width: 767px) {
    .elementor-61264 .elementor-element.elementor-element-f5f5cc8 {
        --padding-top: 050px;
        --padding-right: 020px;
        --padding-bottom: 050px;
        --padding-left: 020px;
    }

    .elementor-61264 .elementor-element.elementor-element-f3d6e35 .elementor-heading-title {
        font-size: 20px;
    }

    .elementor-61264 .elementor-element.elementor-element-f894b11 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
    }

    .elementor-61264 .elementor-element.elementor-element-11714f3 .elementor-widget-container {
        text-align: center;
    }

    .elementor-61264 .elementor-element.elementor-element-11714f3 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-61264 .elementor-element.elementor-element-1980c57 img {
        width: 43%;
    }

    .elementor-61264 .elementor-element.elementor-element-2062c5e {
        text-align: center;
        font-size: 18px;
    }

    .elementor-61264 .elementor-element.elementor-element-17755ff > .elementor-widget-container {
        margin: -44px 0px 0px 0px;
    }
}