.elementor-61251 .elementor-element.elementor-element-176dbe5 {
    --min-height: 200px;
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --margin-top: -110px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 0110px;
    --padding-right: 0px;
    --padding-bottom: 050px;
    --padding-left: 0px;
}

.elementor-61251 .elementor-element.elementor-element-176dbe5:not(.elementor-motion-effects-element-type-background), .elementor-61251 .elementor-element.elementor-element-176dbe5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FAFBFD;
}

.elementor-61251 .elementor-element.elementor-element-176dbe5, .elementor-61251 .elementor-element.elementor-element-176dbe5::before {
    --border-transition: 0.3s;
}

.elementor-61251 .elementor-element.elementor-element-34df6be {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 30px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
}

.elementor-61251 .elementor-element.elementor-element-7abeacb {
    text-align: center;
}

.elementor-61251 .elementor-element.elementor-element-7abeacb .elementor-heading-title {
    font-size: 48px;
    font-weight: 600;
}

.elementor-61251 .elementor-element.elementor-element-1075d4b {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-accent );
    --divider-border-width: 2px;
}

.elementor-61251 .elementor-element.elementor-element-1075d4b .elementor-divider-separator {
    width: 9%;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-61251 .elementor-element.elementor-element-1075d4b .elementor-divider {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-61251 .elementor-element.elementor-element-1075d4b > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-61251 .elementor-element.elementor-element-6d62700 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 0100px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61251 .elementor-element.elementor-element-6d62700, .elementor-61251 .elementor-element.elementor-element-6d62700::before {
    --border-transition: 0.3s;
}

.elementor-61251 .elementor-element.elementor-element-c345d57 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-61251 .elementor-element.elementor-element-d59ceef {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
}

.elementor-61251 .elementor-element.elementor-element-2977ca7 {
    --display: flex;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 030px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 35px;
}

.elementor-61251 .elementor-element.elementor-element-2977ca7:not(.elementor-motion-effects-element-type-background), .elementor-61251 .elementor-element.elementor-element-2977ca7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-61251 .elementor-element.elementor-element-2977ca7, .elementor-61251 .elementor-element.elementor-element-2977ca7::before {
    --border-transition: 0.3s;
}

.elementor-61251 .elementor-element.elementor-element-def7f84.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent );
}

.elementor-61251 .elementor-element.elementor-element-def7f84.elementor-view-framed .elementor-icon, .elementor-61251 .elementor-element.elementor-element-def7f84.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-accent );
    color: var( --e-global-color-accent );
    border-color: var( --e-global-color-accent );
}

.elementor-61251 .elementor-element.elementor-element-def7f84 {
    --icon-box-icon-margin: 15px;
}

.elementor-61251 .elementor-element.elementor-element-def7f84 .elementor-icon {
    font-size: 35px;
}

.elementor-61251 .elementor-element.elementor-element-def7f84 .elementor-icon-box-title, .elementor-61251 .elementor-element.elementor-element-def7f84 .elementor-icon-box-title a {
    font-size: 20px;
    font-weight: 600;
}

.elementor-61251 .elementor-element.elementor-element-008503b {
    --display: flex;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 020px;
    --margin-bottom: 0px;
    --margin-left: 015px;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 35px;
}

.elementor-61251 .elementor-element.elementor-element-008503b:not(.elementor-motion-effects-element-type-background), .elementor-61251 .elementor-element.elementor-element-008503b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-61251 .elementor-element.elementor-element-008503b, .elementor-61251 .elementor-element.elementor-element-008503b::before {
    --border-transition: 0.3s;
}

.elementor-61251 .elementor-element.elementor-element-ad480f5.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent );
}

.elementor-61251 .elementor-element.elementor-element-ad480f5.elementor-view-framed .elementor-icon, .elementor-61251 .elementor-element.elementor-element-ad480f5.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-accent );
    color: var( --e-global-color-accent );
    border-color: var( --e-global-color-accent );
}

.elementor-61251 .elementor-element.elementor-element-ad480f5 {
    --icon-box-icon-margin: 15px;
}

.elementor-61251 .elementor-element.elementor-element-ad480f5 .elementor-icon {
    font-size: 35px;
}

.elementor-61251 .elementor-element.elementor-element-ad480f5 .elementor-icon-box-title, .elementor-61251 .elementor-element.elementor-element-ad480f5 .elementor-icon-box-title a {
    font-family: "Open Sans", Sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.elementor-61251 .elementor-element.elementor-element-f1ffb8a {
    --display: flex;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 025px;
    --padding-top: 35px;
    --padding-right: 35px;
    --padding-bottom: 35px;
    --padding-left: 35px;
}

.elementor-61251 .elementor-element.elementor-element-f1ffb8a:not(.elementor-motion-effects-element-type-background), .elementor-61251 .elementor-element.elementor-element-f1ffb8a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-61251 .elementor-element.elementor-element-f1ffb8a, .elementor-61251 .elementor-element.elementor-element-f1ffb8a::before {
    --border-transition: 0.3s;
}

.elementor-61251 .elementor-element.elementor-element-24292fb.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent );
}

.elementor-61251 .elementor-element.elementor-element-24292fb.elementor-view-framed .elementor-icon, .elementor-61251 .elementor-element.elementor-element-24292fb.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-accent );
    color: var( --e-global-color-accent );
    border-color: var( --e-global-color-accent );
}

.elementor-61251 .elementor-element.elementor-element-24292fb {
    --icon-box-icon-margin: 15px;
}

.elementor-61251 .elementor-element.elementor-element-24292fb .elementor-icon {
    font-size: 35px;
}

.elementor-61251 .elementor-element.elementor-element-24292fb .elementor-icon-box-title, .elementor-61251 .elementor-element.elementor-element-24292fb .elementor-icon-box-title a {
    font-size: 20px;
    font-weight: 600;
}

.elementor-61251 .elementor-element.elementor-element-82a4784 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px;
    --background-transition: 0.3s;
    --padding-top: 050px;
    --padding-right: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
}

.elementor-61251 .elementor-element.elementor-element-9ce98f3 {
    --display: flex;
    --background-transition: 0.3s;
    --border-radius: 10px 10px 10px 10px;
    --border-top-left-radius: 10px;
    --border-top-right-radius: 10px;
    --border-bottom-right-radius: 10px;
    --border-bottom-left-radius: 10px;
    --margin-top: 0px;
    --margin-right: 030px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --padding-top: 80px;
    --padding-right: 80px;
    --padding-bottom: 80px;
    --padding-left: 80px;
}

.elementor-61251 .elementor-element.elementor-element-9ce98f3:not(.elementor-motion-effects-element-type-background), .elementor-61251 .elementor-element.elementor-element-9ce98f3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-61251 .elementor-element.elementor-element-9ce98f3, .elementor-61251 .elementor-element.elementor-element-9ce98f3::before {
    --border-transition: 0.3s;
}

.elementor-61251 .elementor-element.elementor-element-3abf664 .elementor-heading-title {
    font-size: 30px;
    font-weight: 600;
}

.elementor-61251 .elementor-element.elementor-element-b387c02 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-accent );
    --divider-border-width: 2px;
}

.elementor-61251 .elementor-element.elementor-element-b387c02 .elementor-divider-separator {
    width: 30%;
    margin: 0 auto;
    margin-left: 0;
}

.elementor-61251 .elementor-element.elementor-element-b387c02 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-61251 .elementor-element.elementor-element-b387c02 > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-field-group {
    padding-right: calc( 8px/2 );
    padding-left: calc( 8px/2 );
    margin-bottom: 19px;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-form-fields-wrapper {
    margin-left: calc( -8px/2 );
    margin-right: calc( -8px/2 );
    margin-bottom: -19px;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-labels-inline .elementor-field-group > label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-labels-inline .elementor-field-group > label {
    padding-right: 0px;
}

body .elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-field-group:not(.elementor-field-type-upload, .elementor-field-type-custom_button) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #FAFAFA;
    border-color: #0201011A;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-field-group .elementor-select-wrapper select {
    background-color: #FAFAFA;
    border-color: #0201011A;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-field-group .elementor-select-wrapper::before {
    color: #0201011A;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .e-form__buttons__wrapper__button-next {
    color: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-button[type="submit"] {
    color: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-button[type="reset"] {
    color: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-button[type="reset"]:hover {
    color: #ffffff;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 .elementor-button {
    padding: 0px 0px 0px 0px;
}

.elementor-61251 .elementor-element.elementor-element-9d318a2 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-61251 .elementor-element.elementor-element-8d00614 {
    --display: flex;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 030px;
}

.elementor-61251 .elementor-element.elementor-element-56fe6e8 .elementor-heading-title {
    font-size: 30px;
    font-weight: 600;
}

.elementor-61251 .elementor-element.elementor-element-56fe6e8 > .elementor-widget-container {
    padding: 030px 0px 0px 0px;
}

.elementor-61251 .elementor-element.elementor-element-dc53160 {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-accent );
    --divider-border-width: 2px;
}

.elementor-61251 .elementor-element.elementor-element-dc53160 .elementor-divider-separator {
    width: 9%;
    margin: 0 auto;
    margin-left: 0;
}

.elementor-61251 .elementor-element.elementor-element-dc53160 .elementor-divider {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-61251 .elementor-element.elementor-element-dc53160 > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
}

.elementor-61251 .elementor-element.elementor-element-893c1e0 > .elementor-widget-container {
    padding: 0px 0135px 0px 0px;
}

.elementor-61251 .elementor-element.elementor-element-aab7d1f {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-61251 .elementor-element.elementor-element-aab7d1f .elementor-widget-container {
    text-align: left;
}

.elementor-61251 .elementor-element.elementor-element-aab7d1f .elementor-social-icon {
    background-color: #002D5B00;
}

.elementor-61251 .elementor-element.elementor-element-aab7d1f .elementor-social-icon i {
    color: var( --e-global-color-primary );
}

.elementor-61251 .elementor-element.elementor-element-aab7d1f .elementor-social-icon svg {
    fill: var( --e-global-color-primary );
}

.elementor-61251 .elementor-element.elementor-element-aab7d1f > .elementor-widget-container {
    margin: 0px 0px 0px -14px;
}

:root {
    --page-title-display: none;
}

@media(min-width: 768px) {
    .elementor-61251 .elementor-element.elementor-element-9ce98f3 {
        --width:69.96%;
    }

    .elementor-61251 .elementor-element.elementor-element-8d00614 {
        --width: 30.04%;
    }
}

@media(max-width: 1024px) {
    .elementor-61251 .elementor-element.elementor-element-d59ceef {
        --padding-top:0px;
        --padding-right: 020px;
        --padding-bottom: 0px;
        --padding-left: 020px;
    }

    .elementor-61251 .elementor-element.elementor-element-2977ca7 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 035px;
        --padding-right: 035px;
        --padding-bottom: 035px;
        --padding-left: 035px;
    }

    .elementor-61251 .elementor-element.elementor-element-f1ffb8a {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 035px;
        --padding-right: 035px;
        --padding-bottom: 035px;
        --padding-left: 035px;
    }

    .elementor-61251 .elementor-element.elementor-element-82a4784 {
        --padding-top: 050px;
        --padding-right: 020px;
        --padding-bottom: 0px;
        --padding-left: 020px;
    }

    .elementor-61251 .elementor-element.elementor-element-3abf664 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-61251 .elementor-element.elementor-element-56fe6e8 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-61251 .elementor-element.elementor-element-893c1e0 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width: 767px) {
    .elementor-61251 .elementor-element.elementor-element-176dbe5 {
        --padding-top:0100px;
        --padding-right: 0px;
        --padding-bottom: 020px;
        --padding-left: 0px;
    }

    .elementor-61251 .elementor-element.elementor-element-7abeacb .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-61251 .elementor-element.elementor-element-2977ca7 {
        --margin-top: 0px;
        --margin-right: 020px;
        --margin-bottom: 010px;
        --margin-left: 020px;
        --padding-top: 020px;
        --padding-right: 020px;
        --padding-bottom: 020px;
        --padding-left: 020px;
    }

    .elementor-61251 .elementor-element.elementor-element-008503b {
        --margin-top: 010px;
        --margin-right: 020px;
        --margin-bottom: 010px;
        --margin-left: 020px;
        --padding-top: 020px;
        --padding-right: 020px;
        --padding-bottom: 020px;
        --padding-left: 020px;
    }

    .elementor-61251 .elementor-element.elementor-element-f1ffb8a {
        --margin-top: 010px;
        --margin-right: 020px;
        --margin-bottom: 0px;
        --margin-left: 020px;
        --padding-top: 020px;
        --padding-right: 020px;
        --padding-bottom: 020px;
        --padding-left: 020px;
    }

    .elementor-61251 .elementor-element.elementor-element-9ce98f3 {
        --margin-top: 0px;
        --margin-right: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --padding-top: 40px;
        --padding-right: 40px;
        --padding-bottom: 40px;
        --padding-left: 40px;
    }

    .elementor-61251 .elementor-element.elementor-element-3abf664 {
        text-align: center;
    }

    .elementor-61251 .elementor-element.elementor-element-b387c02 .elementor-divider {
        text-align: center;
    }

    .elementor-61251 .elementor-element.elementor-element-b387c02 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-61251 .elementor-element.elementor-element-56fe6e8 {
        text-align: center;
    }

    .elementor-61251 .elementor-element.elementor-element-56fe6e8 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-61251 .elementor-element.elementor-element-dc53160 .elementor-divider {
        text-align: center;
    }

    .elementor-61251 .elementor-element.elementor-element-dc53160 .elementor-divider-separator {
        margin: 0 auto;
        margin-center: 0;
    }

    .elementor-61251 .elementor-element.elementor-element-893c1e0 > .elementor-widget-container {
        padding: 10px 10px 10px 10px;
    }

    .elementor-61251 .elementor-element.elementor-element-aab7d1f .elementor-widget-container {
        text-align: center;
    }
}
